.fullscreenModal {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.modalContent {
  width: 400px;
  max-width: 90%;
  padding: 20px;
  background-color: var(--form-background);
  color: var(--font-color);
  border-radius: 5px;
}
.modalHeading {
  color: var(--font-color);
  margin-bottom: 0.6em;
}
.modalHeading + h5 {
  color: var(--font-color);
}
.textLabel {
  color: var(--font-color);
  font-size: 0.9em;
}
.textInput {
  width: 100%;
  font-size: 0.9em;
  padding: 0.8em 0;
  padding-left: 0.8em;
  margin-top: 0.2em;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: box-shadow 0.25s ease-in-out;
}
.textInput:focus {
  box-shadow: inset 0 0 0 1px rgb(0 128 255 / 30%), 0 0 0 3px rgb(0 128 255 / 30%);
}
.searchInputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin: 1em 0 0.7em 0;
  z-index: 1000;
}
.searchInputWrapper input {
  margin: 0;
  padding-left: 2.6em;
}
.searchIcon {
  position: absolute;
  left: 0.75em;
  filter: var(--toggle-button);
}
.searchInputWrapper input:hover .searchInputWrapper input::-webkit-search-cancel-button {
  display: block;
}
/* Only show search results if search input is focused */
/* .searchInputWrapper input:focus + .searchList {
  display: block;
} */
.searchList {
  display: block;
  width: 100%;
  position: absolute;
  top: 42px;
  background-color: var(--background);
  max-height: 190px;
  overflow-y: auto;
  overflow-x: auto;
  border-radius: 5px;
}
.searchListItem {
  display: flex;
  align-items: center;
  padding: 0.25em 0.3em;
  cursor: pointer;
  border-bottom: 1px solid var(--font-color);
  min-width: 100%;
  width: max-content;
}
.searchListItem:last-child {
  border-bottom: 0;
}
.searchListItem p {
  font-size: 0.9em;
  transition: all 0.2s ease;
}
.searchListItem button {
  background-color: #66bb6a;
  margin-right: 0 0.2em;
  padding: 0 0.25em;
  border: 0;
  border-radius: 5px;
  transition: all 0.2s ease;
}
.collaboratorsList {
  max-height: 155px;
  overflow: auto;
  margin: 0.2em 0 0.75em 0;
  scrollbar-width: thin;
  scrollbar-color: #0570eb #dfe9eb;
}
.collaboratorsItem {
  display: flex;
  margin-bottom: 0.3em;
  font-size: 0.95em;
}
.collaboratorsItem button {
  background-color: #e63946;
  margin-left: 0.4em;
  padding: 0 0.3em;
  border: 0;
  border-radius: 5px;
  transition: all 0.2s ease;
}
.searchListItem button:hover,
.collaboratorsItem button:hover {
  transform: scale(0.9);
}
.searchListItem img,
.collaboratorsItem img {
  z-index: 1;
  filter: invert(100%) sepia(93%) saturate(0%) hue-rotate(356deg) brightness(106%) contrast(101%);
}
.searchList::-webkit-scrollbar,
.collaboratorsList::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.searchList::-webkit-scrollbar-track,
.collaboratorsList::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #d2d2d2;
}
.searchList::-webkit-scrollbar-thumb,
.collaboratorsList::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #0570eb;
}
.searchList::-webkit-scrollbar-track:hover,
.collaboratorsList::-webkit-scrollbar-track:hover {
  background-color: #a0a0a0;
}
.searchList::-webkit-scrollbar-thumb:hover,
.collaboratorsList::-webkit-scrollbar-thumb:hover {
  background-color: #1553df;
}
.buttonGroup {
  display: flex;
  justify-content: flex-end;
}
.confirmButton,
.cancelButton,
.deleteButton,
.collaboratorModalBtn {
  font-size: 1em;
  padding: 0.625em 1.25em;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
}
.confirmButton {
  background-color: #66bb6a;
  color: #fff;
}
.deleteButton {
  background-color: #e63946;
  color: #fff;
}
.cancelButton {
  border: 1px solid;
  background-color: transparent;
}
.collaboratorModalBtn {
  width: fit-content;
  color: #fff;
  display: flex;
  align-items: center;
  background-color: #0570eb;
  padding: 0.4em 0.6em;
}
.collaboratorModalBtn img {
  margin-left: 0.5em;
}
.deleteButton img,
.collaboratorModalBtn img {
  filter: invert(100%) sepia(93%) saturate(0%) hue-rotate(356deg) brightness(106%) contrast(101%);
}
@media only screen and (max-width: 350px) {
  .modalHeading {
    font-size: 1em !important;
  }
  .modalHeading + h5 {
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 499px) {
  .modalContent {
    width: 90%;
    max-width: 400px;
  }
  .modalHeading {
    font-size: 1.1em;
  }
  .textLabel {
    font-size: 0.85em;
  }
  .confirmButton,
  .cancelButton,
  .deleteButton {
    padding: 0.51em 0.9em;
  }
  .collaboratorModalBtn {
    font-size: 0.8em;
  }
  .collaboratorModalBtn img {
    display: none;
  }
}
@media only screen and (max-width: 310px) {
  .modalContent {
    width: 95%;
    padding: 20px 10px;
  }
}
