.fullscreenModal {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.modalContent {
  width: 400px;
  padding: 20px;
  background-color: var(--form-background);
  border-radius: 5px;
}
.modalHeading {
  color: var(--font-color);
  margin-bottom: 0.6em;
}
.textLabel {
  color: var(--font-color);
  font-size: 0.9em;
}
.textInput {
  width: 100%;
  font-size: 0.9em;
  padding: 10px;
  padding: 0.8em 0;
  padding-left: 0.8em;
  margin-top: 0.2em;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: box-shadow 0.25s ease-in-out;
}
.textInput:focus {
  box-shadow: inset 0 0 0 1px rgb(0 128 255 / 30%), 0 0 0 3px rgb(0 128 255 / 30%);
}
.buttonGroup {
  display: flex;
  justify-content: flex-end;
}
.confirmButton,
.cancelButton,
.deleteButton {
  font-size: 1em;
  padding: 0.625em 1.25em;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
}
.confirmButton {
  background-color: #66bb6a;
  color: #fff;
}
.deleteButton {
  background-color: #e63946;
  color: #fff;
}
.cancelButton {
  border: 1px solid;
  background-color: transparent;
}
@media only screen and (max-width: 350px) {
  .modalHeading {
    font-size: 1em;
  }
}
@media only screen and (max-width: 499px) {
  .modalContent {
    width: 90%;
    max-width: 400px;
  }
  .modalHeading {
    font-size: 1.1em;
  }
  .textLabel {
    font-size: 0.85em;
  }
  .confirmButton,
  .cancelButton,
  .deleteButton {
    padding: 0.51em 0.9em;
  }
}
