.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: blue;
  height: fit-content;
  padding: 0.65em 0.3em;
  padding-right: 0.9em;
  justify-content: space-between;
}
.navbar > div {
  display: flex;
  align-items: center;
}
.navbar h3 {
  margin-left: 0.4em;
  text-align: left;
}
.sidebarOpenBtn {
  margin-left: 0.3em;
  outline: none;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.profileBtn {
  margin-left: auto;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  position: relative;
  width: 2.4em;
  height: 2.4em;
}
.profileImg {
  top: 0;
  left: 0;
  position: absolute;
  width: 2.4em;
  height: 2.4em;
  border-radius: 50%;
}
.expandProfile {
  bottom: -4px;
  right: -3px;
  position: absolute;
  border-radius: 50%;
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(121deg) brightness(100%) contrast(101%);
}
.profilePopover {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: black;
  padding: 0.5em 0.5em;
  right: 5px;
  margin-top: 0.2em;
  font-size: 0.95em;
  border-radius: 5px;
  z-index: 500;
  color: #fff;
}
.profilePopover a {
  color: #fff;
}
.profilePopover button {
  margin-top: 0.35em;
  width: fit-content;
  background-color: transparent;
  border: 0;
  font-size: 1em;
  cursor: pointer;
}

.settingsBtn {
  margin-right: 0.3em;
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
}
.projectSettingsPopover {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.3em 0.5em;
  position: absolute;
  background-color: black;
  width: fit-content;
  border-radius: 5px;
  z-index: 500;
}
.projectSettingsPopover span {
  display: flex;
  align-items: center;
}
.projectSettingsPopover input {
  margin: 0.3em 0;
}
.projectSettingsPopover label {
  padding-left: 0.35em;
  font-size: 0.8em;
}
