.sidebar {
  height: 100%;
  transition: all 0.3s;
  background-color: #203040;
  width: 265px;
  color: #fff;
  padding-right: 0.5em;
  padding-left: 0.8em;
  overflow-x: auto;
  border-right: 1px solid #000;
}
.sidebarHide {
  padding: 0;
  width: 0;
  opacity: 0;
  overflow: hidden !important;
}
.headerWrapper {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  padding: 0.9em 0;
}
.sidebarCloseBtn {
  background-color: transparent;
  border: 0;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}
.myProjHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.orderMyProj {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.orderMyProj h6 {
  font-size: 0.75em;
}
.orderMyProj select {
  color: #fff;
  border: 0;
  margin-top: -0.25em;
  text-align: right;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  appearance: none;
  background: transparent;
  background-image: url("../public/icons/order-by.png");
  background-repeat: no-repeat;
  background-position-x: 99%;
  background-position-y: 2.5px;
  background-size: 20%;
  padding: 0.5em 2em 0.5em 0;
}
.orderMyProj option {
  background-color: #203040;
}
.orderMyProj select:focus {
  border: 0;
  outline: 0;
}
.newProjectBtn {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0.5em auto;
  background-color: #0570eb;
  padding: 0.35em 0.45em 0.35em 0.2em;
  border: 0;
  border-radius: 5px;
  transition: background-color 0.1s linear;
}
.newProjectBtn:hover {
  background-color: #1553df;
}
.newProjectBtn img {
  filter: invert(99%) sepia(1%) saturate(0%) hue-rotate(123deg) brightness(112%) contrast(100%);
}
.sidebarProjectItem {
  display: flex;
  align-items: center;
  margin: 0.4em 0;
  border-radius: 5px;
  cursor: pointer;
  height: 30px;
  transition: background-color 0.1s linear;
}
.sidebarProjectItem:hover {
  background-color: rgba(30, 30, 30, 0.7);
  /* background-color: #18426e; */
}
.sidebarProjectItem p {
  font-size: 1em;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.sidebarProjectSquare {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  padding: 0.1em 0.35em;
  border-radius: 5px;
  margin-right: 0.4em;
  background-color: rgb(81, 104, 194);
}
.projectModifyBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0;
  min-width: 25px;
  padding: 0.35em 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: auto;
  border-radius: 5px;
  transition: all 0.15s linear;
}
.projectModifyBtn:hover {
  background-color: #0570eb;
}
.projectModifyBtn img {
  filter: invert(99%) sepia(1%) saturate(0%) hue-rotate(123deg) brightness(112%) contrast(100%) !important;
}
@media only screen and (max-width: 499px) {
  .sidebarProjectItem {
    margin: 0.5em 0;
    height: 35px;
    max-height: 35px;
  }
  .projectModifyBtn,
  .sidebarProjectSquare {
    height: 35px;
  }
}
