.task {
  padding: 0.1em 0;
  margin: 0.3em 0;
  display: flex;
  align-items: center;
}
.taskPercentages {
  font-size: 0.7em;
}
.taskCheckbox {
  min-width: 1.4em;
  min-height: 1.4em;
  margin-right: 0.5em;
  margin-left: 0.15em;
}
.taskText {
  position: relative;
}
.taskText::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  position: absolute;
  top: 50%;
  background-color: var(--task-checked);
  transition: 500ms;
}
.taskText:focus {
  outline: none;
}
.taskCheckbox:checked ~ .taskText {
  color: var(--task-checked);
}
.taskCheckbox:checked ~ .taskText::after {
  width: 100%;
}
