.task {
  padding: 0.1em 0;
  margin: 0.3em 0;
  display: flex;
  align-items: center;
}
.taskPercentages {
  min-width: 41.14px;
  text-align: right;
  font-size: 0.7em;
}
.taskCheckbox {
  position: relative;
  min-width: 1.4em;
  min-height: 1.4em;
  margin-right: 0.5em;
  margin-left: 1em;
}
.taskCheckbox::after {
  content: "";
  position: absolute;
  left: -8.8px;
  width: 1px;
  height: 105%;
  background-color: var(--font-color);
}
.task[level="0"] > .taskCheckbox::after {
  width: 0;
}
.taskText {
  position: relative;
}
.taskText::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  position: absolute;
  top: 50%;
  background-color: var(--task-checked);
  transition: 500ms;
}
.taskText:focus {
  outline: none;
}
.taskCheckbox:checked ~ .taskText {
  cursor: default;
  color: var(--task-checked);
}
.taskCheckbox:checked ~ .taskText::after {
  width: 100%;
}
