.task {
  padding: 0.1em 0;
  margin: 0.3em 0.5em 0.3em 0;
  width: fit-content;
  display: flex;
  align-items: center;
  position: relative;
}
.taskPercentages {
  min-width: 41.14px;
  text-align: right;
  font-size: 0.7em;
}
.taskCheckbox {
  position: relative;
  min-width: 1.4em;
  min-height: 1.4em;
  margin-right: 0.5em;
  margin-left: 1em;
}
.taskCheckbox::after {
  content: "";
  position: absolute;
  left: -8.8px;
  width: 1px;
  height: 105%;
  background-color: var(--font-color);
}
.task[level="0"] > .taskCheckbox::after {
  width: 0;
}
.taskText {
  position: relative;
  transition: all 0.3s ease;
}
.taskText:empty:before {
  color: #6e6e6e;
  content: "Task name";
}
.taskText::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  position: absolute;
  top: 50%;
  background-color: var(--task-checked);
  transition: 500ms;
}
.taskText:focus {
  outline: none;
}
.taskCheckbox:checked ~ .taskText {
  cursor: default;
  color: var(--task-checked);
}
.taskCheckbox:checked ~ .taskText::after {
  width: 100%;
}
.taskSettingsButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0;
  margin-right: 0.3em;
  border-radius: 5px;
  transition: all 0.15s linear;
}
.taskSettingsButton:hover {
  background-color: #0570eb;
}
