.projectMain {
  margin-top: 0.5em;
  margin-left: 1.25em;
  padding-right: 0.75em;
  transition: width 0.3s;
}
.projectHeaderDiv {
  width: 100%;
  margin-bottom: 0.7em;
  padding-bottom: 0.3em;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #fff;
}
.projectHeaderDiv h2 {
  margin-right: 0.3em;
}
.projectTasksWrapper {
  max-height: calc(100vh - 130px);
  overflow: auto;
  white-space: nowrap;
  margin: 0.75em 0;
  margin-right: 1em;
}
.newTaskBtn {
  color: #fff;
  margin: 0.5em 0;
  background-color: #0570eb;
  padding: 0.35em 0.45em;
  border: 0;
  border-radius: 5px;
  transition: background-color 0.1s linear;
}
.newTaskBtn:hover {
  background-color: #1553df;
}
.projectTasksWrapper::-webkit-scrollbar {
  height: 9px;
  width: 9px;
}
.projectTasksWrapper::-webkit-scrollbar-track {
  background-color: #d2d2d2;
}
.projectTasksWrapper::-webkit-scrollbar-thumb {
  background-color: #0570eb;
}
.projectTasksWrapper::-webkit-scrollbar-track:hover {
  background-color: #a0a0a0;
}
.projectTasksWrapper::-webkit-scrollbar-thumb:hover {
  background-color: #1553df;
}
